requests
beautifulsoup4
pandas
playwright
pdfplumber
reportlab
pycryptodome
pypdf
reportlab
python-multipart
uvicorn
pydantic-settings==2.11.0
pydantic==2.5.0
fastapi
pymupdf==1.24.10  # fitz
Pillow
opencv-python-headless==4.12.0.88
rembg==2.0.65

